@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

@font-face {
    font-family: 'texto';
    src: url('fontes/Aileron-Regular.otf') format('opentype');
}
* {
    padding: 0px;
    margin: 0px;
}
:root {
    --texto: 'texto', verdana, sans-serif;

    --cor1: #f2f2f2;
    --cor2: #47a6445e;
    --cor3: #97bf41;
    --cor4: #0d0d0d;
    --cor5: #022601;
}

html {
    min-height: 100vh;
    background-color: var(--cor2);
    font-family: var(--texto);
    font-size: 1.5em;
    color: var(--cor4);

}
nav, footer {
    display: block;
    background-color: #f2f2f293;
    text-align: right;
    text-shadow: var(--cor4);    
    padding: 10px;
}


nav>a {
    color: var(--cor4);
    text-decoration: none;
}
nav>a {
    padding: 10px;
}
nav>a:hover{
    background-color: var(--cor3);
}
header  {
    display: block;
    height: 85vh;
    text-align: center;
    background: url('midias/background01.jpg') center left no-repeat scroll;
    background-size: cover;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.532);

}
div#titulo {
    display: inline-block;
    background-color: rgba(128, 128, 128, 0.3);
    font-size: 0.8em;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-top: 10px;
    border: 8px dashed var(--cor4);
}
div>p {
    color: var(--cor1);
    padding-bottom: 20px;
}
h1 {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 15vh;
    color: var(--cor3);
    text-shadow: 3px 3px var(--cor4);
    padding: 0px;
    margin: 0px;
}
main {
    min-width: 300px;
    max-width: 1000px;
    background-color: var(--cor1);
    margin: auto;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.532);
}
main>p, form>p {
    line-height: 1.5em;
    padding: 15px;
}
h3 {
    text-align: center;
    color: var(--cor5);
    margin-bottom: 15vh;
}
h2 {
    background-image: linear-gradient(to right, var(--cor4), #425140,#6D9A4B );
    font-family: 'Allerta Stencil', sans-serif;
    color: var(--cor1);
    padding: 10px;
}
.fotos {
    text-align: center;
}
figure {
    display: inline-block;
    padding-top: 20px;
}
figure>img {
    height: 23vw;
    padding-top: 5px;
    padding-left: 5px;
}
figure>figcaption {
    font-size: 0.6em;
    text-align: center;
    margin-bottom: 20px;
}
video {
    position: relative;
    display: block;
    height: 30%;
    width: 50%;
    background-color: var(--cor3);
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;   
}
video>source {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
#mapa {
    position: relative;
    display: block;
    height: 30vh;
    width: 50%;
    background-color: var(--cor3);
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;   
}
#mapa>iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
input {
    display: block;
    height: 10vh;
    width: 25vw;
    background-color: var(--cor2);
    font-family: var(--texto);
    font-size: larger;
    margin: auto;
}
input:hover {
    text-decoration: underline;
}
#redes {
    text-align: center;

}
#redes>a>img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-sizing: border-box;
}
#redes img:hover {
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.788);
}
footer{
    text-align: center;
    font-size: 0.7em;
}
footer>p>a {
    color: var(--cor4);
    text-decoration: none;
}
footer>p>a:hover {
    text-decoration: underline;
}
